@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-base leading-normal antialiased;
    scroll-behavior: smooth;
  }
  main {
    @apply relative mt-16  md:mt-[88px] print:mt-0 print:md:mt-0; /*  Ajuste da navbar */
  }
  h2,
  h3,
  h4 {
    @apply block  font-slab font-black;
    &.light {
      @apply font-normal;
    }
  }
  h2 {
    @apply t2 text-blue;
  }
  h3 {
    @apply t3 text-blue;
  }
  h4 {
    @apply t4 font-slab  font-normal text-primary;
  }

  h5 {
    @apply t5 font-slab font-bold text-blue-dark;
  }
  h6 {
    @apply t6 font-bold text-blue;
  }
  /* Refazer tamanhos Tamanhos */

  p {
    @apply block pb-6 text-base leading-6 text-blue-dark  md:pb-7 md:text-lg md:leading-7;

    &.large {
      @apply pb-7 pt-3.5 text-lg md:pb-8 md:pt-4 md:text-2xl;
    }
    a {
      @apply cursor-pointer text-blue underline hover:text-orange;
    }
  }
  b {
    @apply contents font-black;
  }
  @media print {
    .nocut {
      page-break-inside: avoid;
    }
    .print-center {
      @apply flex  h-fit min-h-svh  print:gap-0;
      break-after: page;
      break-inside: avoid;
      page-break-after: always;
      page-break-before: always;
    }
    .radial-hero {
      background: transparent !important;
    }
    .container {
      max-width: 1200px !important;
    }
  }
  /* Formatação basica para texto*/
  .desiderata-text-custom {
    @apply md:w-3/4 lg:w-1/2;
    .tela-cheia {
      @apply relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] w-screen py-10 md:py-16;
    }
    /*     Ajustes espaçamentos Header */
    h2,
    h3,
    h4 {
      @apply py-6 md:pb-7;
    }
    /* Subtitle */
    h5 {
      @apply pb-6 pt-4 md:pb-8;
    }
    p {
      @apply text-gray;
    }
    figure {
      figcaption {
        @apply mt-[10px] text-xs text-gray md:text-base;
      }
      video {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    blockquote {
      @apply relative my-10 md:left-1/2 md:right-1/2 md:my-16 md:ml-[-30vw] md:mr-[-30vw] md:w-[60vw];
      &::before {
        background: url('data:image/svg+xml,<svg width="107" height="80" viewBox="0 0 107 80" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M44.2023 0L28.3269 37.6654C32.3735 37.6654 36.4202 39.5331 40.1557 43.2685C43.8911 47.0039 45.7588 52.2957 45.7588 58.8327C45.7588 64.7471 43.5798 69.7276 39.2218 73.7743C34.8638 78.1323 29.572 80 23.3463 80C15.8755 80 9.96109 77.5097 5.9144 72.5292C1.8677 67.5487 0 61.6342 0 54.4747C0 48.8716 1.24514 42.6459 4.04669 35.4864C6.84825 28.6381 9.64981 23.035 12.1401 18.677C14.6304 14.6303 18.9883 8.40465 24.5914 0H44.2023ZM105.214 0L89.0273 37.6654C93.0739 37.6654 97.1206 39.5331 100.856 43.2685C104.591 47.0039 106.459 52.2957 106.459 58.8327C106.459 65.0584 104.28 70.0389 100.233 74.0856C95.8755 78.1323 90.5837 80 84.358 80C76.8872 80 70.9728 77.5097 66.9261 72.5292C62.8794 67.5487 61.0117 61.6342 61.0117 54.4747C61.0117 48.8716 62.2568 42.6459 65.0584 35.4864C67.8599 28.6381 70.6615 23.035 73.1518 18.677C75.642 14.6303 80 8.40465 85.6031 0H105.214Z" fill="%23FFF6BA"/></svg>');
        @apply absolute -top-12 left-0 z-0 flex  h-[80px] w-[105px] bg-cover bg-center bg-no-repeat content-[""];
      }
      &::after {
        background: url('data:image/svg+xml,<svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.467837 30L6.54971 15.8755C5.02924 15.8755 3.50877 15.1751 2.10526 13.7743C0.701755 12.3735 0 10.3891 0 7.93774C0 5.71985 0.701759 3.85215 2.33919 2.33463C3.85965 0.817124 5.84796 0 8.3041 0C11.1111 0 13.2164 0.933854 14.7368 2.80156C16.2573 4.66926 17.076 7.00389 17.076 9.57199C17.076 12.607 16.2573 15.7588 14.7368 18.7938C13.0994 21.9455 10.8772 25.6809 7.83626 30H0.467837ZM23.3918 30L29.4737 15.8755C27.8363 15.8755 26.4327 15.1751 25.0292 13.7743C23.6257 12.3735 22.924 10.3891 22.924 7.93774C22.924 5.71985 23.6257 3.85215 25.2632 2.33463C26.7836 0.817124 28.7719 0 31.2281 0C34.0351 0 36.1404 0.933854 37.6608 2.80156C39.1813 4.66926 40 7.00389 40 9.57199C40 12.607 39.1813 15.7588 37.6608 18.7938C36.0234 21.9455 33.8012 25.6809 30.7602 30H23.3918Z" fill="%23FFEF8A"/></svg>');
        @apply absolute -bottom-2 right-0 z-0 flex  h-[30px] w-[40px] bg-cover bg-center bg-no-repeat content-[""];
      }
      p {
        @apply relative  z-10 pb-0 font-slab text-xl italic text-blue md:text-3xl;
      }
      span {
        @apply bg-red-700;
      }
    }

    ul {
      @apply list-outside list-disc pl-4 text-gray md:text-xl;
      li {
        @apply relative pl-1;
      }
    }
  }
}
@layer components {
}
@layer utilities {
  /* Video Responsivo do tamanho da tela */
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.nuxt-icon {
  @apply !mb-0;
}
/* Filtros */
.filtro-apoie {
  background: linear-gradient(
      180deg,
      rgba(1, 116, 178, 0.2) 0%,
      rgba(1, 116, 178, 0.9) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.filtro-apoie2 {
  background: var(
    --Gradientes-Gradiente-1,
    linear-gradient(40deg, #042b60 0%, #0083ca 100%)
  );
}
.filtro-cancer {
  background: linear-gradient(
    192deg,
    rgba(69, 161, 186, 0) 60.25%,
    rgba(69, 161, 186, 0.75) 94.79%
  );
}

.filtro-obesidade {
  background: linear-gradient(
    196deg,
    rgba(0, 104, 178, 0) 58.13%,
    rgba(6, 74, 137, 0.75) 86.75%
  );
}
.filtro-video {
  background: linear-gradient(
    180deg,
    rgba(255, 239, 138, 0.13) 0%,
    rgba(0, 131, 202, 0.25) 100%
  );
}
/* Radial Beige */
.radial-beige-right {
  @apply relative relative z-0 px-5  md:px-0;

  &::before {
    @apply absolute right-0  top-1/2  -z-20 h-[850px] w-[425px] -translate-y-1/2 content-[""];
    background: url('data:image/svg+xml,<svg width="425" height="850" viewBox="0 0 425 850" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M425 850C312.283 850 204.183 805.223 124.48 725.52C44.7767 645.817 -3.13558e-06 537.717 0 425C3.13558e-06 312.283 44.7767 204.183 124.48 124.48C204.183 44.7767 312.283 -1.34414e-06 425 0L425 425L425 850Z" fill="url(%23paint0_radial_4699_17932)"/><defs><radialGradient id="paint0_radial_4699_17932" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(425 425) rotate(90) scale(425)"><stop stop-color="%23FFF6BA"/><stop offset="1" stop-color="%23FFF6BA" stop-opacity="0"/></radialGradient></defs></svg>');
  }
}
.radial-beige-left {
  @apply relative  z-0 px-5 md:px-0;
  &::before {
    @apply absolute left-0 top-1/2 -z-20 h-[850px] w-[425px] -translate-y-1/2 content-[""];
    background: url('data:image/svg+xml,<svg width="425" height="850" viewBox="0 0 425 850" fill="none" xmlns="http://www.w3.org/2000/svg"><g transform="rotate(180 212.5 425)"><path d="M425 850C312.283 850 204.183 805.223 124.48 725.52C44.7767 645.817 -3.13558e-06 537.717 0 425C3.13558e-06 312.283 44.7767 204.183 124.48 124.48C204.183 44.7767 312.283 -1.34414e-06 425 0L425 425L425 850Z" fill="url(%23paint0_radial_4699_17932)"/><defs><radialGradient id="paint0_radial_4699_17932" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(425 425) rotate(90) scale(425)"><stop stop-color="%23FFF6BA"/><stop offset="1" stop-color="%23FFF6BA" stop-opacity="0"/></radialGradient></defs></g></svg>');
  }
}
/* Radial Blue */
.radial-blue-right {
  @apply relative  z-0 px-5 md:px-0;

  &::before {
    @apply absolute right-0  top-1/2 -z-20 h-[850px] w-[425px] -translate-y-1/2 content-[""];
    background: url('data:image/svg+xml,<svg width="434" height="868" viewBox="0 0 434 868" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M434 868C318.896 868 208.506 822.275 127.116 740.884C45.7249 659.494 -3.20198e-06 549.104 0 434C3.20198e-06 318.896 45.7249 208.506 127.116 127.116C208.506 45.7249 318.896 -1.3726e-06 434 0V434L434 868Z" fill="url(%23paint0_radial_4789_18447)"/><defs><radialGradient id="paint0_radial_4789_18447" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(434 434) rotate(90) scale(434)"><stop stop-color="%23BEE7FD"/><stop offset="1" stop-color="%23BEE7FD" stop-opacity="0"/></radialGradient></defs></svg>');
  }
}
.radial-blue-left {
  @apply relative  z-0 px-5 md:px-0;

  &::before {
    @apply absolute left-0  top-1/2 -z-20 h-[850px] w-[425px] -translate-y-1/2 content-[""];
    background: url('data:image/svg+xml,<svg width="434" height="868" viewBox="0 0 434 868" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.000106401 -3.79415e-05C115.104 -2.28474e-05 225.494 45.7249 306.884 127.116C388.275 208.506 434 318.896 434 434C434 549.104 388.275 659.494 306.884 740.884C225.494 822.275 115.104 868 0 868L3.79415e-05 434L0.000106401 -3.79415e-05Z" fill="url(%23paint0_radial_4789_18447)"/><defs><radialGradient id="paint0_radial_4789_18447" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.79415e-05 434) rotate(-90) scale(434)"><stop stop-color="%23BEE7FD"/><stop offset="1" stop-color="%23BEE7FD" stop-opacity="0"/></radialGradient></defs></svg>');
  }
}

.radial-eixo {
  background: radial-gradient(
      71.97% 107.42% at 0% 107.42%,
      rgba(255, 213, 0, 0.75) 0%,
      rgba(255, 213, 0, 0) 75%
    ),
    linear-gradient(80deg, rgba(0, 131, 202, 0.75) 0%, rgba(4, 43, 96, 0.75) 100%);
}

input[type='email'],
input[type='text'],
textarea {
  @apply w-full appearance-none rounded-3xl border border-blue bg-transparent px-4 py-2.5 leading-tight text-blue-dark placeholder:text-blue focus:border-orange focus:outline-none focus:ring-0;
}
.tela-cheia {
  @apply relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] w-screen py-10 md:py-16;
}

.videoarea {
  @apply cursor-pointer;
  .capafundo {
    @apply transition-all duration-300 ease-out;
  }
  .playerbtn {
    @apply text-6xl text-yellow opacity-75 transition-all duration-300 ease-out;
  }
  &:hover {
    .playerbtn {
      @apply text-6xl text-white opacity-100;
    }
    .capafundo {
      @apply scale-105;
    }
  }
}
.filtroimg {
  @apply absolute left-0 top-0 h-full w-full;

  background: radial-gradient(
      100% 50% at 0% 100%,
      rgba(255, 213, 0, 0.5) 0%,
      rgba(255, 213, 0, 0) 100%
    ),
    linear-gradient(249deg, rgba(0, 131, 202, 0) 0%, rgba(0, 131, 202, 0.75) 100%);
}

.video-container {
  @apply relative w-full overflow-hidden;
  padding-bottom: 56.25%; /* 16:9 ratio */
  iframe {
    @apply absolute left-0 top-0 h-full w-full;
  }
}

/* PROJETO NOVO */
.radial-hero {
  background: linear-gradient(180deg, rgba(220, 242, 254, 0.1) 25%, #dcf2fe 100%);
}
.filtro-profile {
  @apply relative z-10;

  &::after {
    @apply absolute left-0 top-0 z-30 h-full w-full;
    content: '';
    background: linear-gradient(
      225deg,
      rgba(255, 227, 66, 0.16) 0%,
      rgba(69, 161, 186, 0.6) 80%
    );
  }
}

.loading-icon {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.loading-icon svg {
  animation: loading 2s infinite;
}
@keyframes loading {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
